.services__container{
   display: grid;
   grid-template-columns: repeat(3,3fr);
   gap: 3rem;
}
.service{
    background: var(--color-bg-variant);
    /* padding: 1.3rem; */
    /* border-radius: 0 0 2rem 2rem; */
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}
.service__head h3{
    color: var(--color-bg);
    font-size: 1.3rem;
    text-align: center;
}

.services__container p{
    padding: 2rem;
    font-size: 1rem;
}

.services__container a{
    padding: 0.4rem;
   
}
.buton{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/* ************************* MEDIA QUERIES (MEDIUM DEVICES)  *************************** */

@media screen and (max-width:1024px) {
    .services__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service{
        height: fit-content;
    }
    }
    
    /* ************************* MEDIA QUERIES (SMALL DEVICES)  *************************** */
    
    @media screen and (max-width:600px) {
    .services__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    }
